**Python Basics**

In [16]:
print("Hello World")

print("Hello",end=" ")
print("World")

print("Hello","World",sep="*")

Hello World
Hello World
Hello*World

**Variables and Datatypes**

Variable : A sequence of characters used to store the values 

Datatype : Type associated with a data

In [18]:
#integer
digit = 5
print(digit)
print(type(digit))

5
<class 'int'>

In [19]:
#string
digit = '5'
print(digit)
print(type(digit))

5
<class 'str'>

In [20]:
#float
pi = 3.14
print(pi)
print(type(pi))

3.14
<class 'float'>

In [21]:
#boolean
isprime = True
print(isprime)
print(type(isprime))

True
<class 'bool'>

In [22]:
#complex
z = 3+4j
print(z)
print(type(z))

(3+4j)
<class 'complex'>

**Console Input**

input() : function used to read data from user

In [24]:
s = input()
print(s)

hello world
hello world

In [29]:
name = input("Enter your name : ")
print("Your name is",name)

Enter your name : Shailesh S
Your name is Shailesh S

In [30]:
print(type(s))
print(type(name))

<class 'str'>
<class 'str'>

In [33]:
age = int(input("Enter your age : "))
#age = int(age)
print(age)
print(type(age))

Enter your age : 35
35
<class 'int'>

In [36]:
weight = float(input("Enter your weight : "))
print(weight)
print(type(weight))

Enter your weight : 73.5
73.5
<class 'float'>

**Operators**

1. Arithmetic Operators

*   '+' - addition
*   '-' - subtraction
*   '*' - multiplication
*   '/' - division
*   '%' - modulo division
*   '//' - integer division

In [37]:
a = 7
b = 3

sum =  a+b
print(sum)

diff =  a-b
print(diff)

pro =  a*b
print(pro)

ratio =  a/b
print(ratio)

rem =  a%b
print(rem)

quo =  a//b
print(quo)

10
4
21
2.3333333333333335
1
2

Write a program to print sum and average of 3 numbers.

In [39]:
num1 = int(input('Enter number 1 : '))
num2 = int(input('Enter number 2 : '))
num3 = int(input('Enter number 3 : '))

sum = num1 + num2 + num3
avg = sum/3

print("Sum = ",sum)
print("Average = ",avg)

Enter number 1 : 3
Enter number 2 : 4
Enter number 3 : 5
Sum =  12
Average =  4.0