## Boolean and Relational Operator

Booleans are used to keep truth values or boolean values.
Boolean constants - True , False

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
b = False
print(b)
print(type(b))

False
<class 'bool'>

Boolean Operators : and, or , not

In [ ]:
print(a and b)
print(a or b)
print(not a, not b)

False
True
False True

Boolean values comes as a result of relational opertaions

Relational Operators : **> , < , >= , <= , == , !=**

In [ ]:
a = 5
b = 3

print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [ ]:
print(not a<b)

True

In [ ]:
age = 18
gender = 'Male'

print(age >= 18 and gender == 'Female')

False

# Strings
String are sequence of characters

In [ ]:
s1 = 'hello'
s2 = "hello"

print(s1, type(s1))
print(s2, type(s2))

hello <class 'str'>
hello <class 'str'>

In [ ]:
a = 123
print(a,type(a))
a = str(a)
print(a,type(a))

123 <class 'int'>
123 <class 'str'>

In [ ]:
s1 = 'hello'
s2 = 'world'

s3 = s1 + ' ' + s2
print(s3)

hello world

In [ ]:
s4 = '%s %s'%(s1,s2) # format specifiers
print(s4)

hello world

In [ ]:
s = 'hello how are you ?'
print(len(s))

19

In [ ]:
print(s.upper())

HELLO HOW ARE YOU ?

In [ ]:
print(s.lower())

hello how are you ?

In [ ]:
print(s.capitalize())

Hello.how.are.you.?

In [ ]:
print(s.split(' '))

['hello', 'how', 'are', 'you', '?']

In [ ]:
ss = s.split(' ')
print(ss)
s = ' '.join(ss)
print(s)

['hello.how.are.you.?']
hello.how.are.you.?

In [ ]:
s = 'jewellery'
print(s.find('well'))
print(s.find('pond'))

2
-1

**Control Structures**

1. Branching
2. Looping

Simple if

```
if <condition> : 
      statement 1
      statement 2
```

In [ ]:
a =5 
b= 6
if a > b :
  print("Hello")

if - else

```
if <condition> : 
      statement 1
      statement 2
else:
      statement 3
      statement 4
```

In [ ]:
a = 3
b = 5

if a>b : 
  print(a)
else:
  print(b)
print('Try again')

5
Try again

if - elif - else

```
if <condition> : 
      statement 1
      statement 2
elif <condition>:
      statement 3
elif <condition>:
      statement 4
.
.
else :  
     statement n-1
     statement n

```

In [ ]:
N = int(input("Enter a number : "))
if N>0:
  print('positive')
elif N<0:
  print('negative')
else:
  print('zero')

Enter a number : 0
zero