## **Loops**

**range()** - funtcion  

range(n) - generates a sequence of number starting from 0 upto n-1 , incrementing by 1 

range(m,n) - generates a sequence of number starting from m upto n-1 , incrementing by 1 

range(m,n,i) - generates a sequence of number starting from m upto n-1 , incrementing by i

In [ ]:
print(list(range(7)))
print(list(range(1,7)))
print(list(range(1,11,3)))

[0, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 4, 7, 10]

**for loop**

for loops are often used to iterate over a collection of elements



```
for <loop_variable> in <collection> :
  loop body
```

In [ ]:
for i in range(10): #range(10) - <0,1,2,3,4,5,6,7,8,9>
  print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
#write a program to find the sum of odd numbers less than 100

sum = 0
for i in range(1,100,2):
  sum =  sum+i
print("Sum = ",sum)

Sum =  2500

In [ ]:
#Write a program to print the factors of a number :
x = int(input("Enter a number : "))
for i in range(1, x+1):
  if x%i == 0:
    print(i,end=" ")

Enter a number : 25
1 5 25

**Nested for loops**

loops inside loops

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end="")
  print("")

*****
*****
*****
*****
*****

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i,end="")
  print("")

11111
22222
33333
44444
55555

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end="")
  print("")

12345
12345
12345
12345
12345

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print("")

*
**
***
****
*****

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end="")
  print("")

1
22
333
4444
55555

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print("")

1
12
123
1234
12345

**While loop** 


```
<initialization>
while <condition> : 
    <loop body>
    <updation>
```

In [ ]:
i = 1
while i<=10:
  print(i,end=" ")
  i = i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
N = int(input("Enter a number : "))
is_prime = True
f = 2
while f <= N//2 :
    if N%f == 0:
      is_prime = False
      break
    f = f+1
if is_prime:
  print("Prime")
else:
  print("Not prime")

Enter a number15
Not prime

In [ ]:
i = 1
while i<=5:
  j = 1
  while j<=5 - i:
    print(" ",end="")
    j += 1
  j=1
  while j<=i:
    print("*",end="")
    j += 1
  print("")
  i += 1

    *
   **
  ***
 ****
*****

In [ ]:
i = 1
while i<=5:
  j = 1
  while j<=5 - i:
    print(" ",end="")
    j += 1
  j=1
  while j<=i:
    print("* ",end="")
    j += 1
  print("")
  i += 1

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
i = 1
while i<=5:
  j = 1
  while j<=5 - i:
    print(" ",end="")
    j += 1
  j=1
  while j<=2*i - 1 :
    print("*",end="")
    j += 1
  print("")
  i += 1

    *
   ***
  *****
 *******
*********

In [ ]:
i = 1
while i<=5:
  j = 1
  while j<=5 - i:
    print(" ",end="")
    j += 1
  j=1
  while j<=2*i - 1 :
    if j == 1 or j == 2*i - 1 :
      print("*",end="")
    else:
      print(" ",end="")
    j += 1
  print("")
  i += 1
i = 4
while i>=1:
  j = 1
  while j<=5 - i:
    print(" ",end="")
    j += 1
  j=1
  while j<=2*i - 1 :

    if j == 1 or j == 2*i - 1 :
      print("*",end="")
    else:
      print(" ",end="")
    j += 1
  print("")
  i -= 1

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *