# **Containers**

Containers are built-in datadtypes in python , which is used to hold data objects of any type



2.   Tuple
3.   Dictionary
4.   Set

**List**

*   It is a mutable container, that holds any type of data object
*   It is specifed using a pair of '[ ]'
*   It supports powerful manipulations
*   The internal organization of the list is more complicated

In [ ]:
  l = [1,2,3,4,5]
  print(l)
  print(type(l))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
l = list(range(1,11))
print(l)
print(type(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [ ]:
s =  list('computer')
print(s)
print(type(s))

['c', 'o', 'm', 'p', 'u', 't', 'e', 'r']
<class 'list'>

**Indexing and Slicing of List**

*   List index starts from 0
*   Python support negative index ; that is -1 represents last element, -2 represent second last element, and so on

In [ ]:
l = ['a','b','c','d','e']

In [ ]:
print(l[0])

a

In [ ]:
print(l[-1],l[-2])

e d

Slicing 

* Slicing is a list operation used to split out a part of an existing list. 
* The syntax used for slicing is list_name[l:u]
* l - lower bound 
* u -upper bound
* As a result the sublist starting from l to u-1 will be sliced out.

In [ ]:
l = list('computerscience')
print(l)
print(l[5:9])
print(l[2:])
print(l[:6])
print(l[1:-1])

['c', 'o', 'm', 'p', 'u', 't', 'e', 'r', 's', 'c', 'i', 'e', 'n', 'c', 'e']
['t', 'e', 'r', 's']
['m', 'p', 'u', 't', 'e', 'r', 's', 'c', 'i', 'e', 'n', 'c', 'e']
['c', 'o', 'm', 'p', 'u', 't']
['o', 'm', 'p', 'u', 't', 'e', 'r', 's', 'c', 'i', 'e', 'n', 'c']

**List methods** 

Essential methods :    

1.   len()
2.   append()
3.   pop()
4.   insert()
5.   remove()
6.   extend()
7.   sort()

In [ ]:
l = [1,2,'a','b',True]
print(l)

[1, 2, 'a', 'b', True]

In [ ]:
l = [1,2,'a','b',True]
print(len(l))
l.append(1.5)
print(l)
x = l.pop()
print(l,x)

5
[1, 2, 'a', 'b', True, 1.5]
[1, 2, 'a', 'b', True] 1.5

In [ ]:
l = [1,2,'a','b',True]
l.insert(2,'x')
print(l)
l.remove('x')
print(l)

[1, 2, 'x', 'a', 'b', True]
[1, 2, 'a', 'b', True]

In [ ]:
l = [1,2,'a','b',True]
b = ['r','g','b']
l.append(b)
print(l)

[1, 2, 'a', 'b', True, ['r', 'g', 'b']]

In [ ]:
l.remove(b)
print(l)

[1, 2, 'a', 'b', True]

In [ ]:
l.extend(b)
print(l)

[1, 2, 'a', 'b', True, 'r', 'g', 'b']

In [ ]:
l = [1,4,2,6,7,8]
l.sort()
print(l)

[1, 2, 4, 6, 7, 8]

**Iterating over list and List comprehension**

In [ ]:
l = [1,4,2,6,7,8]

for i in range(0,len(l)):
  print(l[i])

1
4
2
6
7
8

In [ ]:
for i in l:
  print(i)

1
4
2
6
7
8

In [ ]:
for id,i in enumerate(l):
  print(id , '->', i)

0 -> 1
1 -> 4
2 -> 2
3 -> 6
4 -> 7
5 -> 8

list comprehension

In [ ]:
l =  [1,2,3,4,5,6]
sqr = []
for i in l:
  sqr.append(i**2)
print(sqr)

[1, 4, 9, 16, 25, 36]

In [ ]:
sqr = [x**2 for x in l]
print(sqr)

[1, 4, 9, 16, 25, 36]

In [ ]:
l =  [1,2,3,4,5,6]
esqr = []
for i in l:
  if i%2 ==0:
    esqr.append(i**2)
print(esqr)

[4, 16, 36]

In [ ]:
esqr = [x**2 for x in l if x%2 == 0]
print(esqr)

[4, 16, 36]