## **Containers - Part 2** 



```
details = [5,"Raju","Computer Science",16]
#How to access the department
print(details[2]) #or details['dept'] is good?
```



**Dictionary**
* It is used to store data as key - value pairs
* Each element in a dictionary is in the form of K:V where K - key and V- value
* Dictionary can be created by enumerating each data object sepreated by comma(,) with in a pair of curly brackets {}
* Dictionaries does not allow duplicates and it is immutable
* To access the value part of a data object, one can use key as the index

In [ ]:
details = {'rollno':5,'name':"Raju",'dept':"Computer Science",'age':16}
print(details['name'],details['age'])

Raju 16

To check the presence of a key , **in** can be used

In [ ]:
print('rollno' in details)
print('semester' in details)

True
False

In [ ]:
details['semster'] = 3
print(details)

{'rollno': 5, 'name': 'Raju', 'dept': 'Computer Science', 'age': 16, 'semster': 3}

In [ ]:
print(details.keys())

dict_keys(['rollno', 'name', 'dept', 'age', 'semster'])

In [ ]:
print(details.values())

dict_values([5, 'Raju', 'Computer Science', 16, 3])

In [ ]:
print(details.items())

dict_items([('rollno', 5), ('name', 'Raju'), ('dept', 'Computer Science'), ('age', 16), ('semster', 3)])

**Iterating through dictionary**

In [ ]:
animals = {'dog':4, 'man' : 2, 'spider':8, 'fish':0}
print('Animal\t\tLegs')
for key in animals:
  print(key,'\t\t',animals[key])

Animal		Legs
dog 		 4
man 		 2
spider 		 8
fish 		 0

In [ ]:
print('Animal\t\tLegs')
for key,value in animals.items():
  print(key,'\t\t',value)

Animal		Legs
dog 		 4
man 		 2
spider 		 8
fish 		 0

**Tuple** 

* Same as list but less complex
* It is mutable
* It maintains the the order of the data
* It is unchangable
* It allows duplicates

In [ ]:
tup =  (1,2,3)
print(tup)
print(type(tup))


tup =  'a','b','c'
print(tup)
print(type(tup))

(1, 2, 3)
<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>

In [ ]:
X = (5,) #(5)
print(X)
print(type(X))

(5,)
<class 'tuple'>

In [ ]:
l = [1,2,3]
t = tuple(l)
print(l,t)

[1, 2, 3] (1, 2, 3)

In [ ]:
t = (1,2,3) + (5,6)
print(t)

(1, 2, 3, 5, 6)

In [ ]:
print(t[3])

5

In [ ]:
t[3] = 7

TypeError: ignored

In [ ]:
print(t*2)

(1, 2, 3, 5, 6, 1, 2, 3, 5, 6)

In [ ]:
print(t)

(1, 2, 3, 5, 6)

**Set** 

* Sets are unordered
* It does not support duplicates
* Sets are unchangable

In [ ]:
S = {1,2,3}
print(S)
print(type(S))

{1, 2, 3}
<class 'set'>

In [ ]:
S = {1,2,3,3,4,2,1,5,3}
print(S)

{1, 2, 3, 4, 5}

In [ ]:
S.add(6)
print(S)

{1, 2, 3, 4, 5, 6}

In [ ]:
S.remove(6)
print(S)

{1, 2, 3, 4, 5}

In [ ]:
S.discard(4)
print(S)

{1, 2, 3, 5}

In [ ]:
S = {'apple','mango','banana'}
T = {'realme','apple','samsung'}

print(S.union(T))

{'mango', 'apple', 'realme', 'banana', 'samsung'}

In [ ]:
print(S.intersection(T))

{'apple'}

In [ ]:
l = [1,2,3,4,2,1,3,4,5,6,3,7]
l = list(set(l))
print(l)

[1, 2, 3, 4, 5, 6, 7]